.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfplan
tfplan
.terraformrc
terraform.rc

*.tfvars
*.tfvars.json

.env
.env.*

.qodo/
.DS_Store
